In [3]:
from pathlib import Path

FEC = Path(r"C:\Users\lvolat\COMPTOIRS ET COMMERCES\COMMERCIAL - Documents\1 - DOSSIERS EN COURS DE SIGNATURE\DEI FRATELLI - 75001 PARIS - 10 Rue des PYRAMIDES\3. DOCUMENTATION FINANCIÈRE\839951027FEC20231231.txt")

In [4]:
import pandas as pd
df = pd.read_csv(FEC,sep='\t')

In [8]:
df

,JournalCode,JournalLib,EcritureNum,EcritureDate,CompteNum,CompteLib,CompAuxNum,CompAuxLib,PieceRef,PieceDate,...,Credit,EcritureLet,DateLet,ValidDate,Montantdevise,Idevise,DateRglt,ModeRglt,NatOp,IdClient
0,OD,OD DIVERSES,1,20231231,120000,RESULTAT DE L'EXERCICE BENEFICE,NaN,NaN,1,20231231,...,"0,00",NaN,NaN,20240503,NaN,NaN,20231231,CH,NaN,NaN
1,OD,OD DIVERSES,1,20231231,110000,REPORT A NOUVEAU SOLDE CREDITEUR,NaN,NaN,1,20231231,...,"125105,73",NaN,NaN,20240503,NaN,NaN,20231231,CH,NaN,NaN
2,AD,A Nouveaux Détaillés,2,20180701,467002,JRI MONTMARTRE,NaN,NaN,2,20180701,...,"1067,50",NaN,NaN,20240503,NaN,NaN,20180701,CH,NaN,NaN
3,AD,A Nouveaux Détaillés,2,20180731,467002,JRI MONTMARTRE,NaN,NaN,CB,20180731,...,"1632,00",NaN,NaN,20240503,NaN,NaN,20180731,CH,NaN,NaN
4,AD,A Nouveaux Détaillés,2,20180731,467002,JRI MONTMARTRE,NaN,NaN,2,20180731,...,"3600,00",NaN,NaN,20240503,NaN,NaN,20180731,CH,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29110,OD,OD DIVERSES,5846,20230203,421100,SALAIRE PERSONNEL,SCISSE,CISSE ISSIAKA,5846,20230203,...,"0,00",O,20230203.0,20240503,NaN,NaN,20230203,CH,NaN,NaN
29111,OD,OD DIVERSES,5847,20231231,758000,PRODUITS DIV.GESTION COURANTE,NaN,NaN,5847,20231231,...,"0,50",NaN,NaN,20240503,NaN,NaN,20231231,CH,NaN,NaN
29112,OD,OD DIVERSES,5847,20231231,401100,FOURN ACHATS DE BIENS OU SERV,FTAR,TARTINE CO LOUVRE,5847,20231231,...,"0,00",J,20231231.0,20240503,NaN,NaN,20231231,CH,NaN,NaN
29113,OD,OD DIVERSES,5848,20230306,772000,EXCEPT PROD.DIV.COUR.S/EX.ANTERIEURS,NaN,NaN,5848,20230306,...,"23,24",NaN,NaN,20240503,NaN,NaN,20230306,CH,NaN,NaN
29114,OD,OD DIVERSES,5848,20230306,401100,FOURN ACHATS DE BIENS OU SERV,FMACIF,MACIF,5848,20230306,...,"0,00",A,20230306.0,20240503,NaN,NaN,20230306,CH,NaN,NaN

In [9]:
from pprint import pprint


pprint(df.CompteNum.unique())

array([120000, 110000, 467002, 455101, 101300, 164101, 205000, 207000,
       215400, 218100, 218300, 218400, 218600, 275000, 281540, 281810,
       281830, 281840, 445600, 455102, 511202, 512100, 511205, 531100,
       508100, 106120, 511204, 401100, 467004, 421100, 442100, 445702,
       467000, 433000, 437000, 431101, 511206, 231000, 445510, 511201,
       168840, 370000, 408100, 428200, 431000, 431100, 438200, 438600,
       444000, 445860, 448600, 486000, 164400, 627800, 601200, 624800,
       613500, 616000, 646100, 771802, 646101, 613520, 618100, 771801,
       511203, 646000, 613510, 455103, 671200, 411100, 606300, 635110,
       740000, 768000, 637800, 661100, 445620, 601100, 613200, 614000,
       681120, 603700, 606120, 622600, 628100, 613530, 615600, 615200,
       626000, 641260, 658000, 601500, 631200, 633300, 641100, 641200,
       641400, 645100, 645300, 645800, 648000, 758000, 641351, 672000,
       645860, 646001, 646002, 438700, 695100, 445701, 445703, 635140,
       772000, 615500, 606500, 626200, 623100, 622200, 615530, 615520,
       647500, 606400, 611000, 511000, 613540, 707001, 707003, 707002,
       641102, 641101, 641103, 763800, 616100, 612200, 625700])