In [1]:
# from extract_KBIS import *


# KBIS_path_list = list(
#             Path(
#                 r"C:\Users\lvolat\COMPTOIRS ET COMMERCES\COMMERCIAL - Documents\2 - DOSSIERS à l'ETUDE\JAD - PARIS 75002 - 35 Bld BONNE NOUVELLE\2. JURIDIQUE - SOCIÉTÉ"
#             ).glob("*KBIS*")
#         )
# df = pd.concat([get_infos(get_SIREN(p)) for p in KBIS_path_list])

In [2]:
from cocoAI.extract_KBIS import *
KBIS_path_list = list(
            Path(
                r"C:\Users\lvolat\COMPTOIRS ET COMMERCES\COMMERCIAL - Documents\2 - DOSSIERS à l'ETUDE\JAD - PARIS 75002 - 35 Bld BONNE NOUVELLE\2. JURIDIQUE - SOCIÉTÉ"
            ).glob("*KBIS*")
        )
get_most_recent_names(KBIS_path_list)

logfile available C:\Users\lvolat\Documents\cocoAI\common\ipykernel_launcher.log

cocoAI - INFO - source file C:\Users\lvolat\COMPTOIRS ET COMMERCES\COMMERCIAL - Documents\2 - DOSSIERS à l'ETUDE\JAD - PARIS 75002 - 35 Bld BONNE NOUVELLE\2. JURIDIQUE - SOCIÉTÉ\2. JAD - Kbis - 35 et 37 Bd de Bonne Nouvelle.PDF
cocoAI - INFO - work file C:\Users\lvolat\Documents\cocoAI\data\2_DOSSIERS_a_l'ETUDE\JAD_PARIS_75002_35_Bld_BONNE_NOUVELLE\2._JURIDIQUE_SOCIÉTÉ\2._JAD_Kbis_35_et_37_Bd_de_Bonne_Nouvelle.PDF
cocoAI - INFO - request exported to C:\Users\lvolat\Documents\cocoAI\data\2_DOSSIERS_a_l'ETUDE\JAD_PARIS_75002_35_Bld_BONNE_NOUVELLE\2._JURIDIQUE_SOCIÉTÉ\2._JAD_Kbis_35_et_37_Bd_de_Bonne_Nouvelle.request
cocoAI - INFO - source file C:\Users\lvolat\COMPTOIRS ET COMMERCES\COMMERCIAL - Documents\2 - DOSSIERS à l'ETUDE\JAD - PARIS 75002 - 35 Bld BONNE NOUVELLE\2. JURIDIQUE - SOCIÉTÉ\2. Kbis - KADI INVEST.pdf
cocoAI - INFO - work file C:\Users\lvolat\Documents\cocoAI\data\2_DOSSIERS_a_l'ETUDE\JAD_PARIS_75002_35_Bld_BONNE_NOUVELLE\2._JURIDIQUE_SOCIÉTÉ\2._Kbis_KADI_INVEST.pdf
cocoAI - INFO - request exported to C:\Users\lvolat\Documents\cocoAI\data\2_DOSSIERS_a_l'ETUDE\JAD_PARIS_75002_35_Bld_BONNE_NOUVELLE\2._JURIDIQUE_SOCIÉTÉ\2._Kbis_KADI_INVEST.request
cocoAI - INFO - source file C:\Users\lvolat\COMPTOIRS ET COMMERCES\COMMERCIAL - Documents\2 - DOSSIERS à l'ETUDE\JAD - PARIS 75002 - 35 Bld BONNE NOUVELLE\2. JURIDIQUE - SOCIÉTÉ\2. SKJ - Extrait KBIS.pdf
cocoAI - INFO - work file C:\Users\lvolat\Documents\cocoAI\data\2_DOSSIERS_a_l'ETUDE\JAD_PARIS_75002_35_Bld_BONNE_NOUVELLE\2._JURIDIQUE_SOCIÉTÉ\2._SKJ_Extrait_KBIS.pdf
cocoAI - INFO - request exported to C:\Users\lvolat\Documents\cocoAI\data\2_DOSSIERS_a_l'ETUDE\JAD_PARIS_75002_35_Bld_BONNE_NOUVELLE\2._JURIDIQUE_SOCIÉTÉ\2._SKJ_Extrait_KBIS.request

['SOLI']

In [3]:
SIREN = 977946425
response = get_sirene_infos_from_SIREN(str(SIREN))
di = response.json()

In [4]:
di

{'header': {'statut': 200, 'message': 'OK'},
 'uniteLegale': {'siren': '977946425',
  'statutDiffusionUniteLegale': 'O',
  'dateCreationUniteLegale': '2023-07-20',
  'sigleUniteLegale': None,
  'sexeUniteLegale': None,
  'prenom1UniteLegale': None,
  'prenom2UniteLegale': None,
  'prenom3UniteLegale': None,
  'prenom4UniteLegale': None,
  'prenomUsuelUniteLegale': None,
  'pseudonymeUniteLegale': None,
  'identifiantAssociationUniteLegale': None,
  'trancheEffectifsUniteLegale': None,
  'anneeEffectifsUniteLegale': None,
  'dateDernierTraitementUniteLegale': '2024-10-22T05:43:27.724',
  'nombrePeriodesUniteLegale': 2,
  'categorieEntreprise': None,
  'anneeCategorieEntreprise': None,
  'periodesUniteLegale': [{'dateFin': None,
    'dateDebut': '2024-05-06',
    'etatAdministratifUniteLegale': 'A',
    'changementEtatAdministratifUniteLegale': False,
    'nomUniteLegale': None,
    'changementNomUniteLegale': False,
    'nomUsageUniteLegale': None,
    'changementNomUsageUniteLegale': False,
    'denominationUniteLegale': 'SKJ',
    'changementDenominationUniteLegale': False,
    'denominationUsuelle1UniteLegale': None,
    'denominationUsuelle2UniteLegale': None,
    'denominationUsuelle3UniteLegale': None,
    'changementDenominationUsuelleUniteLegale': False,
    'categorieJuridiqueUniteLegale': '5710',
    'changementCategorieJuridiqueUniteLegale': False,
    'activitePrincipaleUniteLegale': '56.10C',
    'nomenclatureActivitePrincipaleUniteLegale': 'NAFRev2',
    'changementActivitePrincipaleUniteLegale': True,
    'nicSiegeUniteLegale': '00013',
    'changementNicSiegeUniteLegale': False,
    'economieSocialeSolidaireUniteLegale': 'N',
    'changementEconomieSocialeSolidaireUniteLegale': False,
    'societeMissionUniteLegale': None,
    'changementSocieteMissionUniteLegale': False,
    'caractereEmployeurUniteLegale': None,
    'changementCaractereEmployeurUniteLegale': False},
   {'dateFin': '2024-05-05',
    'dateDebut': '2023-07-20',
    'etatAdministratifUniteLegale': 'A',
    'changementEtatAdministratifUniteLegale': False,
    'nomUniteLegale': None,
    'changementNomUniteLegale': False,
    'nomUsageUniteLegale': None,
    'changementNomUsageUniteLegale': False,
    'denominationUniteLegale': 'SKJ',
    'changementDenominationUniteLegale': False,
    'denominationUsuelle1UniteLegale': None,
    'denominationUsuelle2UniteLegale': None,
    'denominationUsuelle3UniteLegale': None,
    'changementDenominationUsuelleUniteLegale': False,
    'categorieJuridiqueUniteLegale': '5710',
    'changementCategorieJuridiqueUniteLegale': False,
    'activitePrincipaleUniteLegale': '00.00Z',
    'nomenclatureActivitePrincipaleUniteLegale': 'NAFRev2',
    'changementActivitePrincipaleUniteLegale': False,
    'nicSiegeUniteLegale': '00013',
    'changementNicSiegeUniteLegale': False,
    'economieSocialeSolidaireUniteLegale': 'N',
    'changementEconomieSocialeSolidaireUniteLegale': False,
    'societeMissionUniteLegale': None,
    'changementSocieteMissionUniteLegale': False,
    'caractereEmployeurUniteLegale': None,
    'changementCaractereEmployeurUniteLegale': False}]}}

In [5]:
df = pd.concat([pd.DataFrame(di['uniteLegale']['periodesUniteLegale'])])

In [6]:
df[df.dateDebut==df.dateDebut.max()].T

                                                        0
dateFin                                              None
dateDebut                                      2024-05-06
etatAdministratifUniteLegale                            A
changementEtatAdministratifUniteLegale              False
nomUniteLegale                                       None
changementNomUniteLegale                            False
nomUsageUniteLegale                                  None
changementNomUsageUniteLegale                       False
denominationUniteLegale                               SKJ
changementDenominationUniteLegale                   False
denominationUsuelle1UniteLegale                      None
denominationUsuelle2UniteLegale                      None
denominationUsuelle3UniteLegale                      None
changementDenominationUsuelleUniteLegale            False
categorieJuridiqueUniteLegale                        5710
changementCategorieJuridiqueUniteLegale             False
activitePrincipaleUniteLegale                      56.10C
nomenclatureActivitePrincipaleUniteLegale         NAFRev2
changementActivitePrincipaleUniteLegale              True
nicSiegeUniteLegale                                 00013
changementNicSiegeUniteLegale                       False
economieSocialeSolidaireUniteLegale                     N
changementEconomieSocialeSolidaireUniteLegale       False
societeMissionUniteLegale                            None
changementSocieteMissionUniteLegale                 False
caractereEmployeurUniteLegale                        None
changementCaractereEmployeurUniteLegale             False

In [7]:
'SKJ' in str(KBIS_path_list[0].parent)

False

In [8]:
str(KBIS_path_list[0].parent)

"C:\\Users\\lvolat\\COMPTOIRS ET COMMERCES\\COMMERCIAL - Documents\\2 - DOSSIERS à l'ETUDE\\JAD - PARIS 75002 - 35 Bld BONNE NOUVELLE\\2. JURIDIQUE - SOCIÉTÉ"

In [9]:
'JAD' in str(KBIS_path_list[0].parent)

True

In [10]:
get_real_name(KBIS_path_list)

cocoAI - INFO - source file C:\Users\lvolat\COMPTOIRS ET COMMERCES\COMMERCIAL - Documents\2 - DOSSIERS à l'ETUDE\JAD - PARIS 75002 - 35 Bld BONNE NOUVELLE\2. JURIDIQUE - SOCIÉTÉ\2. JAD - Kbis - 35 et 37 Bd de Bonne Nouvelle.PDF
cocoAI - INFO - work file C:\Users\lvolat\Documents\cocoAI\data\2_DOSSIERS_a_l'ETUDE\JAD_PARIS_75002_35_Bld_BONNE_NOUVELLE\2._JURIDIQUE_SOCIÉTÉ\2._JAD_Kbis_35_et_37_Bd_de_Bonne_Nouvelle.PDF
cocoAI - INFO - request exported to C:\Users\lvolat\Documents\cocoAI\data\2_DOSSIERS_a_l'ETUDE\JAD_PARIS_75002_35_Bld_BONNE_NOUVELLE\2._JURIDIQUE_SOCIÉTÉ\2._JAD_Kbis_35_et_37_Bd_de_Bonne_Nouvelle.request
cocoAI - INFO - source file C:\Users\lvolat\COMPTOIRS ET COMMERCES\COMMERCIAL - Documents\2 - DOSSIERS à l'ETUDE\JAD - PARIS 75002 - 35 Bld BONNE NOUVELLE\2. JURIDIQUE - SOCIÉTÉ\2. Kbis - KADI INVEST.pdf
cocoAI - INFO - work file C:\Users\lvolat\Documents\cocoAI\data\2_DOSSIERS_a_l'ETUDE\JAD_PARIS_75002_35_Bld_BONNE_NOUVELLE\2._JURIDIQUE_SOCIÉTÉ\2._Kbis_KADI_INVEST.pdf
cocoAI - INFO - request exported to C:\Users\lvolat\Documents\cocoAI\data\2_DOSSIERS_a_l'ETUDE\JAD_PARIS_75002_35_Bld_BONNE_NOUVELLE\2._JURIDIQUE_SOCIÉTÉ\2._Kbis_KADI_INVEST.request
cocoAI - INFO - source file C:\Users\lvolat\COMPTOIRS ET COMMERCES\COMMERCIAL - Documents\2 - DOSSIERS à l'ETUDE\JAD - PARIS 75002 - 35 Bld BONNE NOUVELLE\2. JURIDIQUE - SOCIÉTÉ\2. SKJ - Extrait KBIS.pdf
cocoAI - INFO - work file C:\Users\lvolat\Documents\cocoAI\data\2_DOSSIERS_a_l'ETUDE\JAD_PARIS_75002_35_Bld_BONNE_NOUVELLE\2._JURIDIQUE_SOCIÉTÉ\2._SKJ_Extrait_KBIS.pdf
cocoAI - INFO - request exported to C:\Users\lvolat\Documents\cocoAI\data\2_DOSSIERS_a_l'ETUDE\JAD_PARIS_75002_35_Bld_BONNE_NOUVELLE\2._JURIDIQUE_SOCIÉTÉ\2._SKJ_Extrait_KBIS.request

'JAD'

In [11]:
df

,dateFin,dateDebut,etatAdministratifUniteLegale,changementEtatAdministratifUniteLegale,nomUniteLegale,changementNomUniteLegale,nomUsageUniteLegale,changementNomUsageUniteLegale,denominationUniteLegale,changementDenominationUniteLegale,...,nomenclatureActivitePrincipaleUniteLegale,changementActivitePrincipaleUniteLegale,nicSiegeUniteLegale,changementNicSiegeUniteLegale,economieSocialeSolidaireUniteLegale,changementEconomieSocialeSolidaireUniteLegale,societeMissionUniteLegale,changementSocieteMissionUniteLegale,caractereEmployeurUniteLegale,changementCaractereEmployeurUniteLegale
0,None,2024-05-06,A,False,None,False,None,False,SKJ,False,...,NAFRev2,True,00013,False,N,False,None,False,None,False
1,2024-05-05,2023-07-20,A,False,None,False,None,False,SKJ,False,...,NAFRev2,False,00013,False,N,False,None,False,None,False

In [22]:
import pandas as pd
from common.path import COMMON_PATH
df = pd.read_excel(list(COMMON_PATH.glob('*TRANSACTION*.xlsx'))[0],sheet_name="BASE AFFAIRES - TRANSACTION").dropna(how='all',axis=1).drop('Colonne1',axis=1)

c:\Users\lvolat\Documents\cocoAI\.venv\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [23]:
df

,ENSEIGNE,TYPE DE VENTE,RAISON SOCIAL,EN VENTE,ADRESSE,CP,VILLE,ADRESSE,AFFAIRE
0,PRÉMANOIR,NaN,NaN,NON VENDEUR,7 ROUTE DE HONFLEUR,14360.0,TROUVILLE SUR MER,7 ROUTE DE HONFLEUR; 14360 TROUVILLE SUR MER,PRÉMANOIR -
1,SINAN,NaN,NaN,VENTE EN PORTEFEUILLE - SANS MANDAT,7 QUAI DES QUEXRIES,33100.0,BORDEAUX,7 QUAI DES QUEXRIES; 33100 BORDEAUX,SINAN -
2,BISTROT DU CHÂTEAU,NaN,NaN,NaN,8 RUE DU DAHOMEY,60200.0,COMPIÈGNE,8 RUE DU DAHOMEY; 60200 COMPIÈGNE,BISTROT DU CHÂTEAU -
3,VILLA DES GOÉLAND,NaN,NaN,VENTE EN PORTEFEUILLE - SANS MANDAT,12 PLATEAU DE L'ATALAYE,64100.0,BIARRITZ,12 PLATEAU DE L'ATALAYE; 64100 BIARRITZ,VILLA DES GOÉLAND -
4,MAJESTIC,NaN,NaN,OPPORTUNITÉ À LA VENTE,PLACE LOUIS XIV,64500.0,SAINT-JEAN-DE-LUZ,PLACE LOUIS XIV; 64500 SAINT-JEAN-DE-LUZ,MAJESTIC -
...,...,...,...,...,...,...,...,...,...
859,BIG BEN AEROVILLE,NaN,NaN,VENTE EN PORTEFEUILLE - SANS MANDAT,30 RUE DES BUISSONS,95700.0,ROISSY EN France,30 RUE DES BUISSONS; 95700 ROISSY EN France,BIG BEN AEROVILLE -
860,PARIS ENGHEIN,NaN,NaN,NaN,1 RUE DE L'ARRIVÉE,95880.0,ENGHEIN,1 RUE DE L'ARRIVÉE; 95880 ENGHEIN,PARIS ENGHEIN -
861,LAFAYETTE,NaN,NaN,NaN,4 PLACE HENRI IV,NaN,SURESNES,4 PLACE HENRI IV; SURESNES,LAFAYETTE -
862,NOUVEL INSTITUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NOUVEL INSTITUT -
863,LE BEAUJOLAIS D'AUTEUIL,NaN,NaN,VENTE EN PORTEFEUILLE - SANS MANDAT,NaN,NaN,NaN,NaN,LE BEAUJOLAIS D'AUTEUIL -